*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    width: 100%;
    min-height: 100%;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 100px;
    background: cornflowerblue;
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.15);
    z-index: 10;;
}

.nadpis{
    margin: 10%;
    font-size: 2.5rem;
}

footer{
    width: 100%;
    height: 50px;
    color: white;
    background: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-top: auto; 
    box-shadow: 0px -2px 8px 4px rgba(0, 0, 0, 0.15);
}

main{
    width: 100%;
    min-height: calc(100vh - 150px);
    background: #eee;
}

.tim{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 20px;
    box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 10px;
}

.card img{
    width: 150px;
    margin: 10px 15px 10px 15px;
}

.card h2{
    color: cornflowerblue;
    margin-bottom: 10px;
}

.clenovia_timu_nadpis{
    color: cornflowerblue;
    margin-top: 25px;
    text-align: center;
    font-size: 2rem;
}

.clenovia_timu_wrapper{
    background: #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tyzdne_wrapper{
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tyzdne_wrapper h2{
    margin-bottom: 40px;
}

.tyzdne{
    width: 60%;
}

.tyzden{
    padding: 5%;
    align-items: flex-start;
    justify-content: flex-start;
}

.tyzden h2{
    margin-left: 40%;
}

.tyzden li,
.tyzden p{
    font-size: 1.25rem;
}

.stav{
    background: #ccc;
}

.stav .card h2{
    margin-left: 45%;
}

/*   ========================  MEDIA QUERIES  ===========================   */
@media all and (min-width: 320px){
    .tyzden ul,
    .tyzden p{
        padding-left: 5%;
        padding-right: 5%;
    }
    .tyzdne{
        width: 90%;
    }
    .tyzdne_wrapper{
        padding: 20px;
    }
}

@media all and (min-width: 540px){
    .tyzdne{
        width: 90%;
    }
    .tyzdne_wrapper{
        padding: 20px;
    }
}

@media all and (min-width: 768px){
    .tyzdne{
        width: 80%;
    }
}

@media all and (min-width: 1024px){
    .tyzdne{
        width: 60%;
    }
}
/*   ==============X======================================X==============   */