*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    width: 100%;
    min-height: 100%;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 100px;
    background: cornflowerblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.15);
    z-index: 10;
}

.nadpis{
    font-size: 2.5rem;
}

main{
    width: 100vw;
    min-height: calc(100vh - 150px);
    background: #eee;
    display: flex;
    flex-direction: column;
}

.main_content{
    flex: 1;
}

aside{
    flex: 1;
}

.tlac{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    margin-right: 2%;
}

table{
    display: none;
}

/*   ===========  ZADANIE  ============   */
.zadanie_nadpis,
.stav_nadpis,
.tyzdne_nadpis{
    margin: 25px 0  25px 0;
    text-align: center;
    color: cornflowerblue;
    font-size: 2rem;
}

.zadanie_nadpis a{
    text-decoration: none;
    color: cornflowerblue;
}

.zadanie{

}

.zadanie .card{
    margin: 0 5% 50px 5%;
}

.zadanie p{
    text-align: justify;
}

.zadanie ol{
    margin-left: 10%;
    text-align: justify;
}
/*   ========X==================X========   */

/*   ===========  CLENOVIA  =============   */
.clenovia_timu_nadpis{
    color: cornflowerblue;
    margin-top: 25px;
    text-align: center;
    font-size: 2rem;
}

.clenovia_timu_wrapper{
    background: #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.clenovia_timu_wrapper .card{
    transition: 0.5s ease;
}

.tim{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 20px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.15);
    background: white;
    border-radius: 10px;
}

.card img{
    width: 150px;
    margin: 10px 15px 10px 15px;
}

.card h2{
    color: cornflowerblue;
    margin-bottom: 10px;
}

.av h2{
    font-size: 1.125rem;
}
.av p{
    text-align: left;
    width: 100%;
}
/*   ========X==================X========   */

/*   ============  TYZDNE  =============   */
.tyzdne_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tyzdne{
    width: 90%;
    padding: 10px;
}

.tyzdne .card{
    margin: 10px 0 10px 0;
    display: block;
    transition: 0.5s ease;
}

.tyzdne .card:hover,
.stav .card:hover,
.clenovia_timu_wrapper .card:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.tyzdne .card h2{
    text-align: center;
}

.tyzdne .card ul{
    padding-left: 10%;
}

.tyzden{
    align-items: flex-start;
    justify-content: flex-start;
}

.tyzden h2{
    margin-left: 20%;
}

.tyzden li,
.tyzden p{
    font-size: 1.25rem;
}

.zapisnica_link{
    text-decoration: none;
    color: cornflowerblue;
    font-size: 18px;
}

.fa-file-pdf{
    color: #eb4034;
}

.buttons{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.btn{
    width: 50%;
    padding: 10px 0;
    text-align: center;
    color: cornflowerblue;
    cursor: pointer;
    transition: 0.5s ease;
    font-size: 20px;
}

.active{
    background: cornflowerblue;
    color: white;
}

.hide{
    display: none;
}
/*   ========X==================X========   */

/*   =============  STAV  ==============   */
.stav .card{
    margin: 0 5% 0 5%;
    transition: 0.5s ease;
}
/*   ========X==================X========   */

footer{
    width: 100%;
    height: 50px;
    color: white;
    background: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-top: auto; 
    box-shadow: 0px -2px 8px 4px rgba(0, 0, 0, 0.15);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ddd;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bbb; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: cornflowerblue; 
  }

/*   ========================  MEDIA QUERIES  ===========================   */
@media all and (min-width: 540px){
    .zadanie .card{
        margin: 0 15% 50px 15%;
    }
    .stav .card{
        margin: 0 15% 0 15%;
    }
    .tyzdne{
        width: 100%;
        padding: 10px 15%;
    }
    .tim{
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media all and (min-width: 768px){
    .tim{
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media all and (min-width: 1024px){
    main{
        flex-direction: row;
    }
    .main_content{
        width: 70%;
    }
    aside{
        width: 30%;
        /* background: #dedede; */
        box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.15);
    }
    .tim{
        margin-left: 15%;
        margin-right: 15%;
    }
    .clenovia_timu_wrapper{
        background: #eee;
        margin-bottom: 50px;
    }
    .tyzdne_wrapper{
        flex: 1;
    }
    .tyzdne{
        width: 100%;
        padding: 10px 15%;
        max-height: 450px;
        overflow-y: auto;
    }
    header{
        justify-content: space-between;
    }
    .nadpis{
        margin-left: 12%;
    }
    .zadanie .card{
        background: #eee;
        box-shadow: 0px -2px 8px 4px rgba(0, 0, 0, 0);
        margin: 0 15% 0 15%;
        padding: 0 20px;
    }
    .zadanie_nadpis,
    .stav_nadpis{
        margin-top: 20px;
    }
}
/*   ==============X======================================X==============   */

/*   ============================  PRINT  ===============================   */
@media print{
    header{
        box-shadow: none;
    }
    .tlac{
        display: none;
    }
    .zadanie .card{
        box-shadow: none;
    }
    footer{
        display: none;
    }
    .clenovia_timu_wrapper{
        display: none;
    }
    table{
        display: table;
        width: 100%;
        border-collapse: collapse;
    }
    th,
    td{
        border: 2px solid black;
        padding: 5px 10px;
    }
    .stav{
        margin-bottom: 40px;
    }
    .buttons{
        display: none;
    }
}
/*   ==============X======================================X==============   */